<!-- Header -->
<div class="header-top">
    <div class="container">
        <div class="logo">
            <a href="/index.html" class="text-decoration-none text-dark">
                Jpkr..
            </a>
        </div>

        <button class="btn d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu">
            <i class="fas fa-bars fa-2x"></i>
        </button>

    </div>
</div>

<!-- Menu -->
<div class="navbar-custom">
    <div class="container d-flex justify-content-between align-items-center">

        <!-- Desktop Menu -->
        <div class="d-none d-lg-flex navbar w-100 p-0">

            <div class="nav-item">
                <a href="/intro.html#home" data-page="home">
                    Home
                </a>

                <div class="dropdown-card">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-5 line">
                                <h4>Home</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </p>
                            </div>

                            <div class="col-lg-3 line">
                                <h6>Quick Links</h6>

                                <a href="#pamidighantams" class="submenu-link" data-target="pamidighantams">
                                    Pamidighantams
                                </a>

                                <a href="#childhood" class="submenu-link" data-target="childhood">
                                    Childhood
                                </a>

                                <a href="#schooling" class="submenu-link" data-target="schooling">
                                    Schooling
                                </a>

                                <a href="#college" class="submenu-link" data-target="college">
                                    College
                                </a>

                                <a href="#lawschool" class="submenu-link" data-target="lawschool">
                                    Law School
                                </a>

                            </div>

                            <div class="col-lg-3">
                                <img src="images/home.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="nav-item">
                <a href="/family.html#family" data-page="family">
                    Family
                </a>

                <div class="dropdown-card">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-5 line">
                                <h4>Family</h4>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo amet ipsam, ea rem
                                    ratione accusantium deleniti magnam iste explicabo nihil? Quis asperiores culpa
                                    quam quod ex dolor fugit veniam atque!
                                </p>
                            </div>

                            <div class="col-lg-3 line">
                                <h6>Quick Links</h6>

                                <a href="/family.html#marriage" class="submenu-link" data-target="marriage">
                                    Marriage
                                </a>
                            </div>

                            <div class="col-lg-3">
                                <img src="images/home.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="nav-item">
                <a href="/lawer.html#lawer" data-page="lawer">
                    As A Lawer
                </a>

                <div class="dropdown-card">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-5 line">
                                <h4>As A Lawer</h4>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo amet ipsam, ea rem
                                    ratione accusantium deleniti magnam iste explicabo nihil? Quis asperiores culpa
                                    quam quod ex dolor fugit veniam atque!
                                </p>
                            </div>

                            <div class="col-lg-3 line">
                                <h6>Quick Links</h6>

                                <a href="/lawer.html#advisory" class="submenu-link" data-target="advisory">
                                    Advisory Roles
                                </a>
                            </div>

                            <div class="col-lg-3">
                                <img src="images/home.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="nav-item">
                <a href="/judicial.html#judicial" data-page="judicial">
                    Judicial Career
                </a>

                <div class="dropdown-card">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-5 line">
                                <h4>Judicial Career</h4>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo amet ipsam, ea rem
                                    ratione accusantium deleniti magnam iste explicabo nihil? Quis asperiores culpa
                                    quam quod ex dolor fugit veniam atque!
                                </p>
                            </div>

                            <div class="col-lg-3 line">
                                <h6>Quick Links</h6>

                                <a href="/judicial.html#service" class="submenu-link" data-target="service">
                                    Service Tenure & Key Positions
                                </a>

                                <a href="/judicial.html#reform" class="submenu-link" data-target="reform">
                                    Reform Work, Committees & Commissions
                                </a>

                                <a href="/judicial.html#judiciallegacy" class="submenu-link"
                                    data-target="judiciallegacy">
                                    Judicial Legacy & Public Impact
                                </a>

                            </div>

                            <div class="col-lg-3">
                                <img src="images/home.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="nav-item">
                <a href="/postretirement.html#postretirement" data-page="postretirement">
                    Post-Retirement
                </a>

                <div class="dropdown-card">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-5 line">
                                <h4>Post-Retirement</h4>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo amet ipsam, ea rem
                                    ratione accusantium deleniti magnam iste explicabo nihil? Quis asperiores culpa
                                    quam quod ex dolor fugit veniam atque!
                                </p>
                            </div>

                            <div class="col-lg-3 line">
                                <h6>Quick Links</h6>

                                <a href="/postretirement.html#consultations" class="submenu-link"
                                    data-target="consultations">
                                    Advisory Roles & Consultations
                                </a>

                                <a href="/postretirement.html#lectures" class="submenu-link" data-target="lectures">
                                    Lectures, Talks & Knowledge Sharing
                                </a>

                            </div>

                            <div class="col-lg-3">
                                <img src="images/home.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="nav-item">
                <a href="/instutions.html#instutions" data-page="instutions">
                    Instutions
                </a>

                <div class="dropdown-card">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-5 line">
                                <h4>Instutions</h4>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo amet ipsam, ea rem
                                    ratione accusantium deleniti magnam iste explicabo nihil? Quis asperiores culpa
                                    quam quod ex dolor fugit veniam atque!
                                </p>
                            </div>

                            <div class="col-lg-3 line">
                                <h6>Quick Links</h6>

                                <a href="/instutions.html#ambastram" class="submenu-link" data-target="ambastram">
                                    Ambastram
                                </a>

                                <a href="/instutions.html#avt" class="submenu-link" data-target="avt">
                                    AVT
                                </a>

                                <a href="/instutions.html#vedabhavan" class="submenu-link" data-target="vedabhavan">
                                    Vedabhavan
                                </a>

                            </div>

                            <div class="col-lg-3">
                                <img src="images/home.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="nav-item">
                <a href="/spiritual.html#spiritual" data-page="spiritual">
                    Spiritual
                </a>

                <div class="dropdown-card">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-5 line">
                                <h4>Spiritual</h4>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo amet ipsam, ea rem
                                    ratione accusantium deleniti magnam iste explicabo nihil? Quis asperiores culpa
                                    quam quod ex dolor fugit veniam atque!
                                </p>
                            </div>

                            <div class="col-lg-3 line">
                                <h6>Quick Links</h6>

                                <a href="/spiritual.html#association" class="submenu-link" data-target="association">
                                    Association with Spiritual Movements Institutions
                                </a>

                                <a href="/spiritual.html#gurus" class="submenu-link" data-target="gurus">
                                    My Gurus
                                </a>

                                <a href="/spiritual.html#talks" class="submenu-link" data-target="talks">
                                    Talks, Discourses & Spiritual Writings
                                </a>

                                <a href="/spiritual.html#guidance" class="submenu-link" data-target="guidance">
                                    Guidance & Facilitation for Seekers
                                </a>

                                <a href="/spiritual.html#integration" class="submenu-link" data-target="integration">
                                    Integration of Spirituality in Social Upliftment
                                </a>

                            </div>

                            <div class="col-lg-3">
                                <img src="images/home.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="nav-item">
                <a href="/gallery.html#gallery" data-page="gallery">
                    Gallery
                </a>

                <div class="dropdown-card">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-5 line">
                                <h4>Gallery</h4>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo amet ipsam, ea rem
                                    ratione accusantium deleniti magnam iste explicabo nihil? Quis asperiores culpa
                                    quam quod ex dolor fugit veniam atque!
                                </p>
                            </div>

                            <div class="col-lg-3 line">
                                <h6>Quick Links</h6>

                                <a href="/gallery.html#photographs" class="submenu-link" data-target="photographs">
                                    Photographs
                                </a>

                                <a href="/gallery.html#videos" class="submenu-link" data-target="videos">
                                    Videos
                                </a>

                                <a href="/gallery.html#media" class="submenu-link" data-target="media">
                                    Media
                                </a>
                            </div>

                            <div class="col-lg-3">
                                <img src="images/home.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="nav-item">
                <a href="/articles.html#articles" data-page="articles">
                    Articles
                </a>

                <div class="dropdown-card">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-5 line">
                                <h4>Articles</h4>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo amet ipsam, ea rem
                                    ratione accusantium deleniti magnam iste explicabo nihil? Quis asperiores culpa
                                    quam quod ex dolor fugit veniam atque!
                                </p>
                            </div>

                            <div class="col-lg-3 line">
                                <h6>Quick Links</h6>

                                <a href="/articles.html#english" class="submenu-link" data-target="english">
                                    English Articles
                                </a>

                                <a href="/articles.html#telugu" class="submenu-link" data-target="telugu">
                                    Telugu Articles
                                </a>

                                <a href="/articles.html#books" class="submenu-link" data-target="books">
                                    Books
                                </a>

                            </div>

                            <div class="col-lg-3">
                                <img src="images/home.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="nav-item">
                <a href="/contact.html#contact" data-page="contact">
                    Contact Info
                </a>

                <div class="dropdown-card">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-5 line">
                                <h4>Contact Info</h4>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo amet ipsam, ea rem
                                    ratione accusantium deleniti magnam iste explicabo nihil? Quis asperiores culpa
                                    quam quod ex dolor fugit veniam atque!
                                </p>
                            </div>

                            <div class="col-lg-3 line">
                                <h6>Quick Links</h6>

                                <a href="/contact.html#professional" class="submenu-link" data-target="professional">
                                    Professional Contact Info
                                </a>

                                <a href="/contact.html#trusts" class="submenu-link" data-target="trusts">
                                    Trusts Institutions Representation
                                </a>

                                <a href="/contact.html#forum" class="submenu-link" data-target="forum">
                                    Social & Literary Forum Links
                                </a>

                            </div>

                            <div class="col-lg-3">
                                <img src="images/home.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="mobileMenu">

    <div class="offcanvas-header">

        <div class="logo">
            <a href="/index.html" class="text-decoration-none text-dark">
                Jpkr..
            </a>
        </div>

        <button class="btn-close" data-bs-dismiss="offcanvas"></button>

    </div>

    <div class="offcanvas-body p-0">

        <div class="accordion accordion-flush" id="mobileAccordion">

            <!-- Home -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#homeMenu">
                        Home
                    </button>
                </h2>

                <div id="homeMenu" class="accordion-collapse collapse" data-bs-parent="#mobileAccordion">
                    <div class="accordion-body">
                        <a href="/intro.html#home" class="mobile-link">Overview</a>
                        <a href="/intro.html#pamidighantams" class="mobile-link">Pamidighantams</a>
                        <a href="/intro.html#childhood" class="mobile-link">Childhood</a>
                        <a href="/intro.html#schooling" class="mobile-link">Schooling</a>
                        <a href="/intro.html#college" class="mobile-link">College</a>
                        <a href="/intro.html#lawschool" class="mobile-link">Law School</a>
                    </div>
                </div>
            </div>

            <!-- Family -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#familyMenu">
                        Family
                    </button>
                </h2>

                <div id="familyMenu" class="accordion-collapse collapse" data-bs-parent="#mobileAccordion">
                    <div class="accordion-body">
                        <a href="/family.html#family" class="mobile-link">Overview</a>
                        <a href="/family.html#marriage" class="mobile-link">Marriage</a>
                    </div>
                </div>
            </div>

            <!-- As A Lawyer -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#lawyerMenu">
                        As A Lawyer
                    </button>
                </h2>

                <div id="lawyerMenu" class="accordion-collapse collapse" data-bs-parent="#mobileAccordion">
                    <div class="accordion-body">
                        <a href="/lawer.html#lawer" class="mobile-link">Overview</a>
                        <a href="/lawer.html#advisory" class="mobile-link">Advisory Roles</a>
                    </div>
                </div>
            </div>

            <!-- Judicial Career -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#judicialMenu">
                        Judicial Career
                    </button>
                </h2>

                <div id="judicialMenu" class="accordion-collapse collapse" data-bs-parent="#mobileAccordion">
                    <div class="accordion-body">
                        <a href="/judicial.html#judicial" class="mobile-link">Overview</a>
                        <a href="/judicial.html#service" class="mobile-link">Service Tenure</a>
                        <a href="/judicial.html#reform" class="mobile-link">Reform Work</a>
                        <a href="/judicial.html#judiciallegacy" class="mobile-link">Judicial Legacy</a>
                    </div>
                </div>
            </div>

            <!-- Post Retirement -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse"
                        data-bs-target="#retirementMenu">
                        Post-Retirement
                    </button>
                </h2>

                <div id="retirementMenu" class="accordion-collapse collapse" data-bs-parent="#mobileAccordion">
                    <div class="accordion-body">
                        <a href="/postretirement.html#postretirement" class="mobile-link">Overview</a>
                        <a href="/postretirement.html#consultations" class="mobile-link">Advisory Roles</a>
                        <a href="/postretirement.html#lectures" class="mobile-link">Lectures & Talks</a>
                    </div>
                </div>
            </div>

            <!-- Institutions -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse"
                        data-bs-target="#institutionMenu">
                        Institutions
                    </button>
                </h2>

                <div id="institutionMenu" class="accordion-collapse collapse" data-bs-parent="#mobileAccordion">
                    <div class="accordion-body">
                        <a href="/instutions.html#instutions" class="mobile-link">Overview</a>
                        <a href="/instutions.html#ambastram" class="mobile-link">Ambastram</a>
                        <a href="/instutions.html#avt" class="mobile-link">AVT</a>
                        <a href="/instutions.html#vedabhavan" class="mobile-link">Vedabhavan</a>
                    </div>
                </div>
            </div>

            <!-- Spiritual -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse"
                        data-bs-target="#spiritualMenu">
                        Spiritual
                    </button>
                </h2>

                <div id="spiritualMenu" class="accordion-collapse collapse" data-bs-parent="#mobileAccordion">
                    <div class="accordion-body">
                        <a href="/spiritual.html#spiritual" class="mobile-link">Overview</a>
                        <a href="/spiritual.html#association" class="mobile-link">Association</a>
                        <a href="/spiritual.html#gurus" class="mobile-link">My Gurus</a>
                        <a href="/spiritual.html#talks" class="mobile-link">Talks & Writings</a>
                        <a href="/spiritual.html#guidance" class="mobile-link">Guidance</a>
                        <a href="/spiritual.html#integration" class="mobile-link">Integration</a>
                    </div>
                </div>
            </div>

            <!-- Author -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#authorMenu">
                        Author
                    </button>
                </h2>

                <div id="authorMenu" class="accordion-collapse collapse" data-bs-parent="#mobileAccordion">
                    <div class="accordion-body">
                        <a href="/author.html#author" class="mobile-link">Overview</a>
                        <a href="/author.html#title" class="mobile-link">Titles</a>
                    </div>
                </div>
            </div>

            <!-- Gallery -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#galleryMenu">
                        Gallery
                    </button>
                </h2>

                <div id="galleryMenu" class="accordion-collapse collapse" data-bs-parent="#mobileAccordion">
                    <div class="accordion-body">
                        <a href="/gallery.html#gallery" class="mobile-link">Overview</a>
                        <a href="/gallery.html#photographs" class="mobile-link">Photographs</a>
                        <a href="/gallery.html#videos" class="mobile-link">Videos</a>
                        <a href="/gallery.html#media" class="mobile-link">Media</a>
                    </div>
                </div>
            </div>

            <!-- Articles -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#articlesMenu">
                        Articles
                    </button>
                </h2>

                <div id="articlesMenu" class="accordion-collapse collapse" data-bs-parent="#mobileAccordion">
                    <div class="accordion-body">
                        <a href="/articles.html#articles" class="mobile-link">Overview</a>
                        <a href="/articles.html#english" class="mobile-link">English Articles</a>
                        <a href="/articles.html#telugu" class="mobile-link">Telugu Articles</a>
                    </div>
                </div>
            </div>

            <!-- Contact -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#contactMenu">
                        Contact Info
                    </button>
                </h2>

                <div id="contactMenu" class="accordion-collapse collapse" data-bs-parent="#mobileAccordion">
                    <div class="accordion-body">
                        <a href="/contact.html#contact" class="mobile-link">Overview</a>
                        <a href="/contact.html#professional" class="mobile-link">Professional Contact</a>
                        <a href="/contact.html#trusts" class="mobile-link">Trusts & Institutions</a>
                        <a href="/contact.html#forum" class="mobile-link">Forum Links</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>